/vendor/
.php-cs-fixer.cache
petshopMentoria/.env.example
.vscode/launch.json
.vscode/settings.json
petshopMentoria/app/Http/Controllers/TesteController.php
docs/notas.MD
petshopMentoria/.docker/redisdata/dump.rdb
